@font-face {
    font-family: Muller;
    src: url("../fonts/MullerRegular.otf");
}

@font-face {
    font-family: MullerBold;
    src: url("../fonts/MullerBold.otf");
}

@font-face {
    font-family: MullerExtraBold;
    src: url("../fonts/MullerExtraBold.otf");
}
